.about-container {
  position: relative;
  top: -5.5rem !important;
  z-index: -2;
  margin-bottom: 2rem;
}

.about-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-header h1 {
  color: var(--text-color);
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px var(--box-shadow-color);
}
.about-section{
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 100;
  position: relative;
  top:-50px;
}

.about-content {
  padding: 40px;
  margin-top: 4px;
  color: #706f6f;
  text-align: center;
  position: relative;
  width: 90%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 6px 30px var(--box-shadow-color);
  width: 90%;
  max-width: 1200px;
}

.about-content p {
  font-size: 14px;
  line-height: 1.4rem;
}

.about-content .explore-btn {
  margin-top: 10px;
  text-align: center;
}

.about-content .explore-btn a {
  color: var(--white);
  background-color: var(--blue);
  padding: 5px 30px;
  border-radius: 9px;
  text-decoration: none;
  font-size: 24px;
  transition: background-color 0.3s ease-in-out;
}

.about-content .explore-btn a:hover {
  background-color: var(--dark-blue);
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.card {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.523);
  width: 45%;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card h2 {
  color: var(--text-color);
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #5f5f5f;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {

.card-container {
  display: block;
  justify-content: space-around;

}
.card{
  width: 90%;
  margin: 1rem 1rem;
}
}